<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Regression-with-CART-Trees---Lab" data-toc-modified-id="Regression-with-CART-Trees---Lab-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Regression with CART Trees - Lab</a></span><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Import-necessary-libraries" data-toc-modified-id="Import-necessary-libraries-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Import necessary libraries</a></span></li><li><span><a href="#The-dataset" data-toc-modified-id="The-dataset-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>The dataset</a></span></li><li><span><a href="#Create-training-and-test-sets" data-toc-modified-id="Create-training-and-test-sets-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Create training and test sets</a></span></li><li><span><a href="#Create-an-instance-of-CART-regressor-and-fit-the-data-to-the-model" data-toc-modified-id="Create-an-instance-of-CART-regressor-and-fit-the-data-to-the-model-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Create an instance of CART regressor and fit the data to the model</a></span></li><li><span><a href="#Make-predictions-and-calculate-the-MAE,-MSE,-and-RMSE" data-toc-modified-id="Make-predictions-and-calculate-the-MAE,-MSE,-and-RMSE-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Make predictions and calculate the MAE, MSE, and RMSE</a></span></li><li><span><a href="#Level-Up-(Optional)" data-toc-modified-id="Level-Up-(Optional)-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Level Up (Optional)</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Summary</a></span></li></ul></li></ul></div>

# Regression with CART Trees - Lab

## Introduction

In this lab, we'll make use of what we learned in the previous lesson to build a model for the [Petrol Consumption Dataset](https://www.kaggle.com/harinir/petrol-consumption) from Kaggle. This model will be used to predict gasoline consumption for a bunch of examples, based on features about the drivers.

## Objectives

In this lab you will: 

- Fit a decision tree regression model with scikit-learn

## Import necessary libraries

In [1]:
#Â Import libraries 
import pandas as pd  
import numpy as np  
from sklearn.model_selection import train_test_split

## The dataset 

- Import the `'petrol_consumption.csv'` dataset 
- Print the first five rows of the data 
- Print the dimensions of the data

In [3]:
# Import the dataset
dataset = pd.read_csv('petrol_consumption.csv')

In [4]:
# Print the first five rows
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [6]:
# Print the dimensions of the data
dataset.shape

(48, 5)

- Print the summary statistics of all columns in the data:

In [7]:
#Â Describe the dataset
dataset.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

## Create training and test sets

- Assign the target column `'Petrol_Consumption'` to `y` 
- Assign the remaining independent variables to `X` 
- Split the data into training and test sets using a 80/20 split 
- Set the random state to 42

In [36]:
# Split the data into training and test sets
X = dataset.drop(columns=['Petrol_Consumption'],axis=1)
y = dataset['Petrol_Consumption']

X_train, X_test, y_train, y_test = train_test_split (X,y)
print('Shape X_train:', X_train.shape)
print('Shape y_train:', y_train.shape)
print('Shape X_test:', X_test.shape)
print('Shape y_test:', y_test.shape)
X_train
X_test

Shape X_train: (36, 4)
Shape y_train: (36,)
Shape X_test: (12, 4)
Shape y_test: (12,)

    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
3          7.5            4870            2351                         0.529
25         9.0            3721            4746                         0.544
6          8.0            5319           11868                         0.451
23         9.0            4258            4686                         0.517
7          8.0            5126            2138                         0.553
46         7.0            4296            4083                         0.623
36         5.0            4045           17782                         0.566
14         7.0            4332            8159                         0.608
26         8.0            3448            5399                         0.548
5         10.0            5342            1333                         0.571
31         7.0            3333            6594                         0.513
1          9.0            4092            1250                         0.572

## Create an instance of CART regressor and fit the data to the model 

As mentioned earlier, for a regression task we'll use a different `sklearn` class than we did for the classification task. The class we'll be using here is the `DecisionTreeRegressor` class, as opposed to the `DecisionTreeClassifier` from before.

In [27]:
# Import the DecisionTreeRegressor class 
from sklearn.tree import DecisionTreeRegressor

# Instantiate and fit a regression tree model to training data 
regressor = DecisionTreeRegressor(random_state=42)

regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=42, splitter='best')

## Make predictions and calculate the MAE, MSE, and RMSE

Use the above model to generate predictions on the test set. 

Just as with decision trees for classification, there are several commonly used metrics for evaluating the performance of our model. The most common metrics are:

* Mean Absolute Error (MAE)
* Mean Squared Error (MSE)
* Root Mean Squared Error (RMSE)

If these look familiar, it's likely because you have already seen them before -- they are common evaluation metrics for any sort of regression model, and as we can see, regressions performed with decision tree models are no exception!

Since these are common evaluation metrics, `sklearn` has functions for each of them that we can use to make our job easier. You'll find these functions inside the `metrics` module. In the cell below, calculate each of the three evaluation metrics.

In [38]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Make predictions on the test set
y_pred = regressor.predict(X_test)

# Evaluate these predictions
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 13.333333333333334
Mean Squared Error: 1434.8333333333333
Root Mean Squared Error: 37.87919393721748

## Level Up (Optional)

- Look at the hyperparameters used in the regression tree, check their value ranges in official doc and try running some optimization by growing a number of trees in a loop 

- Use a dataset that you are familiar with and run tree regression to see if you can interpret the results 

- Check for outliers, try normalization and see the impact on the output

## Summary 

In this lesson, you implemented the architecture to train a tree regressor and predict values for unseen data. You saw that with a vanilla approach, the results were not so great, and thus we must further tune the model (what we described as hyperparameter optimization and pruning, in the case of trees).